body{
  background-color: #492C1D;
}

h1 {
  color: #8EB8E5;
  font-family: 'Times New Roman', Arial;
  font-size: 40px;
  background-color: #5B5750;
  text-align: center;
}

p {
  color: #8EB8E5;
}

a {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: double;
}

img {
  width: 100px;
  border: 5px solid red;
  object-fit: fill;
  object-position: center top;
}