body{
  background-image: url(../Assets/739o8kovccw71.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* img{
  width: 100%;
  height: auto;
  object-fit: contain;
} */